.text-bold{
    font-weight: bold;
}
.product-div{
    border: 2px solid black;
    width: 500px;
}
.product-img{
    width: 500px;
    height: 500px;
}
.product-container{
    margin: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 20px;
}

#background{
    background-color: black;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 30px;
}

#background a{
    padding: 20px;
    text-decoration: none;
    color: chartreuse;
    
}
.img{
    margin-top: 130px;
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
    height: 100%;
}
.product-p{
   display: flex;
   justify-content: space-between;
   padding: 0 10px;
   margin-top: 10px;
   background-color: lemonchiffon;
    
}
.footer-item{
    width: 25%;
}
.text-img{
    margin-top: 30px;
}
.pxd{
    text-align: center;
    font-size: 30px;
}
       




